<%- include('header'); -%>

<section id="main-list">
  <div class="container-fluid">
    <div class="row">
      <% listsText.forEach(function(list) { %>
      <div class="col-lg-4 col-md-6">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <% if (list.id != listUpdate.id) { %>
              <div class="row card-header-home">
                <div class="col-8">
                  <h3 class="card-title"><%= list.name %></h3>
                </div>
                <div class="col-4">
                  <form class="inline-form-home" action="/checkupdatelist" method="post">
                      <button class="btn btn-light rounded-circle" type="submit" name="checkUpdateList" value="<%= list.id %>"><i class="fas fa-edit"></i></button>
                  </form>
                  <form class="inline-form-home" action="/deletelist" method="post">
                      <button class="btn btn-danger rounded-circle" type="submit" name="deleteList" value="<%= list.id %>"><i class="fas fa-trash"></i></button>
                  </form>

                </div>
              </div>
            <% } else { %>
              <div class="row card-header-home">
                <div class="col-12">
                  <form class="inline-form-home" action="/updatelist" method="post">
                      <input class="form-control update-form" type="text" name="inputListName" value="<%= list.name %>">
                      <button class="btn btn-success rounded-circle" type="submit" name="updateList" value="<%= list.id %>"><i class="fas fa-check"></i></button>
                  </form>
                  <form class="inline-form-home" action="/deletelist" method="post">
                      <button class="btn btn-danger rounded-circle" type="submit" name="deleteList" value="<%= list.id %>"><i class="fas fa-trash"></i></button>
                  </form>

                </div>
              </div>
            <% }; %>

          </div>
          <div class="card-body">
            <h6>Your To-Do Lists</h6>
            <ul class="list-group list-group-flush">
              <% itemsText.forEach(function(item) { %>
              <% if (item.list._id == list.id) { %>
              <li class="list-group-item">
                <p><%= item.name %></p>
              </li>
              <% }; %>

              <% }); %>
            </ul>
            <!-- <form action="/" method="post"> -->
              <div class="form-group">
                <div class="form-row">
                  <div class="col button-div">
                    <form action="/seelist" method="post">
                        <button class="btn btn-warning" type="submit" name="seeList" value="<%= list.id %>">See this List</button>
                    </form>
                  </div>
                </div>
              </div>
            <!-- </form> -->
          </div>
        </div>
      </div>

      <% }); %>
    </div>

  </div>

</section>



<%- include('footer'); -%>
